body{

  background-color: rgb(255, 230, 169);
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(37, 32, 32);
  overflow: hidden;

}

.elements{
  display: flex;
  color: white;
  justify-content: end;

}

li{
  padding: 10px;
  list-style: none;
}

.main{
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100vh;

}

.my-photo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;

}

img{
  height: 300px;
  width: 450px;
  border-radius: 10%;
}

.describe{

  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 0;

}

.describe h3,h3,p{
  margin: 0;
}

.name{
  font-size: 40px;
}

.name-firstline{
  font-size: 25px;
}

.media{
  height: 30px;
  width: 30px;
  padding: 10px;
}

.media:hover{
  height: 40px;
  width: 40px;

}

.my-logo{
  margin-left:20px ;
  height: 50px;
  width: 150px;
}

.links{
  display: flex;
  flex-direction: row;
}